<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main}">
<main layout:fragment="content">
    <h1>게시글 조회</h1>
    <form th:object="${boardData}">
        <dl>
            <dt th:text="#{제목}"></dt>
            <dd>
                <span th:text="*{title}"></span>
            </dd>
        </dl>
        <dl>
            <dt th:text="#{작성자}"></dt>
            <dd>
                <span th:text="*{author}"></span>
            </dd>
        </dl>
        <dl>
            <dt th:text="#{내용}"></dt>
            <dd>
                <div th:text="*{content}"></div>
            </dd>
        </dl>
    </form>
    <form method="get" th:action="@{/board/list}">
        <button type="submit" th:text="#{목록으로_가기}"></button>
    </form>

</main>
</html>