<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<header th:fragment="common">
    <div class="logo" th:text="#{사이트_이름}">사이트 이름</div>
    <nav>
        <ul>
            <li><a href="/" th:text="#{홈}">홈</a></li>
            <li><a th:href="@{/member/login}" th:text="#{로그인}">소개</a></li>
            <li><a href="#" th:text="#{서비스}">서비스</a></li>
            <li><a href="#" th:text="#{문의}">문의</a></li>
            <li><a th:href="@{/board/list}" th:text="#{게시판}">게시판</a></li>
        </ul>
    </nav>
</header>
</html>